body{
    display: flex;
    flex-direction: column;
    background-color: #283747;
}

.PopUp{
    position:absolute;
    top: 50%;
    left: 50%;
    background-color:  #DCE1E3;
    transform: translate(-50%, -50%);
}

.PopUpBackground{
    position: absolute;
    width:100%;
    height:100%;
    background-color:#283747;
}

.closeButton{
    position:absolute;
    top:0;
    right:0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 0.1vw;
    width: 8%;
    height: 8%;
}

.Turnir{
    display:flex;
    flex-direction:column;

    background-color: #DCE1E3;
    border: 1px solid black;
    margin: 0.2vw;
}

.Turnir button{
    background-color:#283747;
    color:#DCE1E3;
    border:0;
    box-shadow: none;
    border-radius: 5px;
    margin: 0.2vw;
    padding: 0.3vw;
    font-size: 1vw;
}

.Turnir h2{
    font-size: 2vw;
}

.Turnir h3{
    align-self: center;
    font-size: 1.5vw;
}

.TurnirHeaderDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2vw;
    padding: 0.3vw;
}

.TurnirHeader{
    display:flex;
    flex:1 1 100%;
}

.TurnirHeaderButton{
    display:flex;
    justify-content: center;
    align-items: center;
}

.TurnirHeaderButton>button{
    border-radius: 15px;
    padding: 1vw;
    font-size:1.2vw;
}

.TurnirUnos{
    display:flex;
    flex-direction: row;
    border-top: 1px solid black;
    padding: 0.3vw;
    height: 15vw;
}

.TurnirUnosDiscipline, .TurnirUnosUcesnika{
    display: flex;
    flex-direction: column;
    margin: .5vw;
    padding: .5vw;
    justify-content: space-between;
    align-items: center;
    border: 3px solid darkblue;
}

.TurnirUnosDiscipline *:not(h3), .TurnirUnosUcesnika *:not(h3){
    margin: 0.5vw;
    padding: 0.2vw;
    font-size: 1vw;
}

.TurnirUnosDiscipline h3, .TurnirUnosUcesnika h3{
    font-size: 1.5vw;
}

.TurnirPrikazDisciplina{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    margin: 0.2vw;
}

.Disciplina{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0.3vw;
    height:fit-content;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.1vw;
}

.HeaderDiscipline{
    display:flex;
    justify-content: flex-start;
}

.KontrolaDiscipline{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.UcesnikRed{
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    border: 2px solid black;
    margin: 0.2vw;
    padding: 0.3vw;
}

.Ucesnik{
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    margin: 2px;
}

.Ucesnik>label{
    font-size: 1.2vw;
}